duckdb==1.5.*
pyarrow==23.0.*
pandas==3.0.*
matplotlib==3.10.*
tqdm==4.67.*
scipy==1.17.*
fastdtw==0.3.*
fastgoertzel==1.0.2
loguru==0.7.*
python-dotenv==1.2.*
typer==0.24.*
zstandard==0.25.*
xgboost==3.2.*
scikit-learn==1.8.*
optuna==4.8.*
torch==2.7.1
optuna-dashboard
tensorboard
